html, body {
	/*background-image: url("../images/bg.png");*/
	font-family: arial;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 20px;
	font-family: "Courier New", Courier, monospace;
}
p {
	margin: 0;
	padding: 20px;
	text-align: left;
}
img {
	width: 100%;
	vertical-align: bottom;
}
a {
	color: #000;
	text-decoration: none;
}
hr {
	border: none;
	height: 1px;
	background-color: #000;
}
iframe {
	border: none;
	width: 100%;
	height: 300px;
	vertical-align: bottom;
}
.content {
	background-color: #fff;
	width: calc(100% - 40px);
	max-width: 700px;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 2px 2px  10px rgba(0,0,0,0);
	position: relative;
	-webkit-transition: box-shadow .3s;
	transition: box-shadow .3s;
}
.content:hover, .raised {
	box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}
.content:hover a:link, .content:hover a:visited {
	text-decoration: underline;
}
.content:hover a:active, .content:hover a:hover {
	color: #555;
}
.displaylink {
	width: 100%;
	max-width: 700px;
	height: 300px;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 1;
}
.displaylink:hover {
}
.displaylink h2 {
	width: 100%;
}
a .displaylink {
	background-color: rgba(0,100,200,0);
	color: rgba(0,0,0,0);
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
}
a .displaylink:hover {
	color: rgba(0,0,0,1);
	background-color: rgba(0,250,250,.8);
}
.separator {
	display: none;
}
.cover {
	background-color: rgba(255,255,255,1);
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}
.cover:hover {
	background-color: rgba(0,250,250,1);
}
@media (min-width: 1000px) {
	.content {
		width: calc(100%/3 - 60px);
		display: inline-block;
	}
	.separator {
		display: block;
	}
}
